<%- include("./partials/header") %>

<!-- check if user or company -->
<section>
  <div class="text-center">
    <h1 class="d-block d-lg-none">Tendy</h1>
  </div>
</section>
  
  <h1 class="text-center mb-4">¡Bienvenido!</h1>
  <div id="home" class="jumbotron"> 
      <p class="text-center proximamente">PROXIMAMENTE</p>
      <p class="text-center tendencias">creando tendencias</p>
  </div>

<%- include("./partials/footer") %>
