<%- include("./partials/header") %>

<!-- titulo, imagen y descripcion -->

<div class="d-flex justify-content-center">
    <h1 class="mt-4">#consumelocal</h1>
</div>  

<div class="jumbotron" id="nosotros">
</div>

<!-- Descripciòn -->
<section>
  <div class="row align-items-center key">
    <div class="col-md-4 text-center">
      <i class="fa-4x fas fa-map-marker-alt"></i>
      <p>Comercio Local</p>
    </div>
    <div class="col-md-4 text-center">
      <i class="fa-4x fas fa-hands-helping"></i>
      <p>Emonomía colaborativa</p>
    </div>
    <div class="col-md-4 text-center">
      <i class="fa-4x fas fa-heart"></i>
      <p>Capitalismo Solidario</p>
    </div>
  </div>
  <hr>
  <div class="row text-center sinergia w-75 mx-auto my-4">
      <p>Estamos en tiempos complicados, es por eso que Tendy quiere 
        <strong>crear sinergia entre las marcas</strong> de ropa y accesorios que buscan 
        posicionar su concepto incentivando el comercio local, su difusión 
        y alcance a través de la colaboración, calidad e innovación.</p>
  </div>
</section>

  <%- include("./partials/footer") %>